.my-container_1 {
    /*border: 1px solid black;*/
}

.my-row_1 {
    /*border: 1px solid red;*/
    margin: 10px;
    text-align: center;
    font-variant: small-caps;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.flex_events {
    display: flex;
    height: 400px;
    margin: 10px;
    font-size: 10pt;
}

.my-row_3 {
    height: 5px;
    /*border: 1px solid green;*/
    background: linear-gradient(70deg, grey, white);
}

.my-row_4 {
    height: 5px;
    /*border: 1px solid green;*/
    /*background: linear-gradient(70deg, grey, white);*/
}

.btn-primary {
    background-color: grey;
    border-color: grey;
    width: 100px;
    font-variant: small-caps;
  }
  
.btn-primary:hover {
    background-color: black;
    border-color: black;
}

.my-row_5 {
    background: lightgrey;
    height: 5px;
}

.th_date {
    text-align: center;
    width: 100px;
    border: 1px solid grey;
    font-size: 9pt;
}

.th_event {
    text-align: left;
    border: 1px solid grey;
    padding: 5px;
    width: 1000px;
    font-size: 9pt;
}

.td_date {
    text-align: center;
    border: 1px dotted grey;
    font-size: 8pt;
}

.td_event {
    text-align: left;
    border: 1px dotted grey;
    padding: 5px;
    font-size: 8pt;
}

@media (min-width: 500px) {
    .icon {
        width: 2%;
    }
}

@media (max-width: 499px) {
    .icon {
        width: 5%;
    }
}

.index_logo {
    width: 35%;
}