.my-container_1 {
    /*border: 1px solid black;*/
}

.my-row_1 {
    /*border: 1px solid red;*/
    margin: 10px;
    text-align: center;
    font-variant: small-caps;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.my-row_3 {
    height: 5px;
    /*border: 1px solid green;*/
    background: linear-gradient(70deg, grey, white);
}

.my-row_4 {
    height: 5px;
    /*border: 1px solid green;*/
    /*background: linear-gradient(70deg, grey, white);*/
}

.btn-primary {
    background-color: grey;
    border-color: grey;
    width: 100px;
    font-variant: small-caps;
  }
  
  .btn-primary:hover {
    background-color: black;
    border-color: black;
  }